body {
    font-family: Arial, sans-serif;
}

.box {
    padding: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    margin-bottom: 8px;
}

.navbar {
    display: flex;
    gap: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
}